@import "tailwindcss";

:root {
	--background: #f0ead6;
	--foreground: #000000;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Courier New", Courier, monospace;
}

/* HTML: <div class="stamp"></div> */
.stamp {
	--r: 10px; /* control the radius */
	padding: var(--r);
	mask: radial-gradient(50% 50%, #0000 66%, #000 67%) round var(--r) var(--r) / calc(2 * var(--r)) calc(2 * var(--r)),
		conic-gradient(#000 0 0) content-box;
}

.box {
	--mask: radial-gradient(10px at 10px 10px, #0000 98%, #000) -10px -10px;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}
